syntax: glob

**/*~
target/
.idea/

# You may want to ignore .wasm files, which are binary files.
# We are commenting out the line below, which means that we are keeping a
# binary file in the source control, because we want the .wasm file to appear
# in Github Pages.
##-- docs/*.wasm
